html, body {
	min-height: 100%;
	height: 100%;
	overflow:hidden;
}

.pvvoModal {
	overflow: hidden;
}

.pvvoJumbo {
	background: url('../img/bg2.jpg') no-repeat center center fixed; 
	height: 100%;
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 0px;
}

.pvvoNavbar {
	background: none;
	border: 0px;
	box-shadow: none;
	font-size: 14px;
	color: #ffffff;
}

.pvvoJumbo  h1,h2,h3,label{
	color: #ffffff;
}

.pvvoJumbo  h2 {
	font-family: "Open Sans", sans-serif;
}

.pvvoDropdown {
	background: none;
	border: 0px;
}
.pvvoDropdown a {
	color: #ffffff !important;
}

.pvvoFooter {
    height: 100px;
	line-height: 100px;
    width: 100%;
	color: #ffffff !important;
	text-align: center;
}

.pvvoFooter  p {
	font-size: 16px;
}

.topOffset {
	margin-top: 150px;
}

.pvvoJumbo  p {
	color: #ffffff;
}

.pvvoTitle {
	color: #ffffff !important;
	font-family: Dosis, sans-serif;
    font-size: 28px;
	font-weight: 100;
}

.navbar-nav > li > a {
	color: #ffffff !important;
}

.rightSpacingSmall { margin-right: 5px; }
.leftSpacingSmall { margin-left: 5px; }